@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-text-color {
  color: #535768;
}

.sign-in-btn{
  border-color: black;
    border-width: 1px;
}

.login-container-custom{
  margin-top: 10%;
  max-width: 800px !important;
  text-align: center;
}
.login-container-custom .form-group{
  margin-top: 20px;
  margin-bottom: 20px;
}

.suggest-signup-component{
  margin-top: 20px;
}
